@charset "UTF-8";

body {
    background: url('img/wallpaper.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', 'Inter', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    flex: 1;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#tarefas {
    background: rgba(15, 99, 99, 0.664);
    backdrop-filter: blur(5px);
    border: 2px, solid, rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    padding: 30px;
    height: 50%;
    width: 50%;
    margin: auto;
}

#footer {
    text-align: center;
    padding: 4px;
    color: white;
    background-color: black;
    margin-top: auto;
    width: 100%;
}

#header {
    text-align: center;
    background-color: rgb(202, 231, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 3px 3px 5px black;
}
.todo, .felipe, .project {
    margin: 0px;
}

#add_tarefa {
    margin: 40px;
    text-align: center;
}

#tarefa {
    text-align: center;
    color: white;
    border: none;
    outline: none;
    border: 1px, solid, rgba(255, 255, 255, 0.39);
    background: transparent;
    width: 60%;
    border-radius: 10px;
    padding: 6px;
}

#tarefa::placeholder {
    color: white;
    opacity: 0.5;
}

#addtarefabtn {
    border: none;
    outline: none;
    border: 1px, solid, rgba(255, 255, 255, 0.39);
    background: transparent;
    width: 30%;
    cursor: pointer;
    font-family: 'Quicksand', 'Inter', sans-serif;
    color: white;
    transition: all 1s ease;
}
#addtarefabtn:hover {
    border-radius: 10px;
    background-color: black;
    color: white;
}

#filtros {
    padding: 10px;
}

#title {
    text-align: center;
    font-size: larger;
}


.elementostarefa {
    display: flex;
    align-items: center;
}

.excluirtarefa {
    background-color: rgba(255, 0, 0, 0.534);
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-left: auto;
    margin-right: 20px;
}

.concluida {
    text-decoration: line-through;
    opacity: 0.6;
    color: rgba(182, 182, 182, 0.438);
}

.filtro {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    border: 1px, solid, rgba(255, 255, 255, 0.39);
    width: 20%;
    cursor: pointer;
    font-family: 'Quicksand', 'Inter', sans-serif;
    color: white;
    transition: all 1s ease;
}
.filtro:hover {
    border-radius: 20px;
    background-color: black;
    color: white;
}
.ativo {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.699);
}

#ordenacao {
    padding: 10px;
    background: transparent;
}

#lista_tarefas {
    outline: 10px black;
    padding: 20px;
}

#github {
    color: white;
}
#selectOrdenacao {
    background: transparent;    
    color: #ffffff;             
    border: 1px, solid, rgba(255, 255, 255, 0.39);
    padding: 3px 10px;
    margin-left: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 1s ease;
}
#selectOrdenacao:hover {
    border-radius: 30px;
}
#selectOrdenacao option {
    background-color: rgba(0, 0, 0, 0.295);
    color: #000000;           
}
